/**new logo on index page test**/
#newlogo{
	width:50%;
	margin-left:25%;
	min-width:10%;
}

/**navigation bar**/
.navbar{
	width:50%;
	margin-left:25%;
	min-width:10%;
}

/**links on nav bar class**/
.links{
	text-decoration:none;
	color:blue;
}


/**buttons on nav bar**/
button{
	background-color:white;
	border-color:blue;
	margin-right:2.75%;
}

/**footer**/
footer{
	margin-left:25%;
}