/**new logo on index page test**/
#newlogo{
	width:50%;
	margin-left:25%;
	min-width:10%;
}


/**positiong of 'home' link on nav bar**/
#homelink{
	margin-left:7.5%;
	margin-bottom:90%;
}
/**navigation bar**/
.navbar{
	width:50%;
	margin-left:0%;
	min-width:10%;
}


/**navbarbg**/
#navbarbg{
	margin-left:25%;
	background-color:#00A2E8;
	width:50%;
	padding-bottom:0.7%;
}


/**links on nav bar class**/
.links{
	text-decoration:none;
	color:#dde6ea;
	font-size:125%;
	font-family:verdana;
	margin-right:6%;
}

/**fav ico mods**/
#fav{
	background-color:#00A2E8;
}


#footer {
   position:absolute;
   bottom:0;
   margin-left:25%;
   width:50%;
   height:3%;   /* Height of the footer */
   background:#6cf;
}